*.swp
.*.swp
*.pyc

node_modules

zsh/cache/*

vim/vim/custom/configs.vim
vim/vim/bundle/*
vim/vim/undodir/
vim/vim/tmpdir/

!vim/vim/bundle/Vundle.vim
!vim/vim/bundle/Vundle.vim/*

userspecific/
userspecific/*

.cdir
