[submodule "vcs"]
	path = zsh/vcs
	url = git://github.com/yonchu/zsh-vcs-prompt.git

[submodule "z"]
	path = zsh/z
	url = git://github.com/rupa/z.git

[submodule "vundle"]
	path = vim/vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "apps/quicktile"]
	path = apps/quicktile
	url = git@github.com:ssokolow/quicktile.git
[submodule "apps/sshuttle"]
	path = apps/sshuttle
	url = git@github.com:apenwarr/sshuttle.git
[submodule "apps/wp-cli"]
	path = apps/wp-cli
	url = git@github.com:wp-cli/wp-cli.git
