[submodule "vcs"]
	path = zsh/vcs
	url = https://github.com/yonchu/zsh-vcs-prompt.git

[submodule "vundle"]
	path = vim/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git

[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions

[submodule "vim/vim/bundle/Vundle.vim"]
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
