[Unit]
Description=Hexchat
Documentation=
Requires=

[Service]
Type=simple
ExecStart=/usr/bin/hexchat
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
